<app-navigation></app-navigation>
<section>
<div class="container">
	<div class="h2 mb-4 text-center">Learning Greenlandic</div>
	<div class="p text-center">This website is for you who wants to learn greenlandic-english or the other way round.</div>
	<br><hr>
	<div class="p text-center mt-4">This website is made by Stinnia Hansen Kleist.<br><br>
	It is made for the finishing exam for the Multi media design education at</div>
	<img class="mx-auto d-block mt-3" src="../../assets/cphbusiness.png" alt="cphbusiness">
	</div>
	
	<div class="text-center mt-4"><strong>Kontakt</strong><br>
		<a href="mailto:cph-sk250@cphbusiness.dk">Skriv en email til Stinnia her</a>
	</div>
</section>


<app-footer></app-footer>
<router-outlet></router-outlet>